.About .decorative-img {
    position: absolute;
    left: -17px;
    top: 78px;
    width: 300px;
    height: 582px;
    opacity: 1;
    animation: moveLeftRight14 3s infinite alternate ease-in-out;
}

@keyframes moveLeftRight14 {
    0% {
        left: -17px;
    }

    50% {
        left: -50px;
    }

    100% {
        left: -17px;
    }
}

.About .decorative-img2 {
    position: absolute;
    right: -100px;
    top: 655px;
    width: 350px;
    height: 582px;
    opacity: 1;
    animation: moveRightLeft16 3s infinite alternate ease-in-out;
}



@keyframes moveRightLeft16 {
    0% {
        right: -100px
    }

    50% {
        right: -150px;
    }

    100% {
        right: -100px;
    }
}



.About .decorative-img3 {
    position: absolute;
    left: -14px;
    top: 1440px;
    width: 376px;
    height: 582px;
    opacity: 1;
    animation: moveLeftRight15 3s infinite alternate ease-in-out;
}


.About .decorative-img4 {
    position: absolute;
    right: -56px;
    top: 1683px;
    width: 350px;
    height: 582px;
    opacity: 1;
    animation: moveLeftRight17 3s infinite alternate ease-in-out;
}

@keyframes moveLeftRight17 {
    0% {
        right: -56px;
    }

    50% {
        right: -100px;
    }

    100% {
        right: -56px;
    }
}




.About .decorative-img5 {
    position: absolute;
    left: -1px;
    top: 2583px;
    width: 200px;
    height: 582px;
    opacity: 1;
    animation: moveLeftRight18 3s infinite alternate ease-in-out;
}

@keyframes moveLeftRight18 {
    0% {
        left: -1px;
    }

    50% {
        left: -30px;
    }

    100% {
        left: -1px;
    }
}



@media (max-width: 768px) {
    .About .decorative-img {
        width: 200px;
    }

    .About .decorative-img2 {
        width: 250px;
    }

    .About .decorative-img3 {
        width: 250px;
        left: -60px;
        top: 1298px;
    }

    .About .decorative-img4 {
        width: 250px;
    }
}


























.About {
    background-image: url('../assets/images/backround/What-we.svg');

    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    /* background-position: center center; */
    position: relative;
}

.content3 {
    position: relative;
}

.About h1 {
    font-family: 'Playfair Display', serif;
    line-height: 120%;

}

.About h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', serif;
}


.About p {
    font-family: 'Manrope', sans-serif;
    line-height: 160%;
}


.About .about-header p {
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.About .about-header .container-para {
    width: 75%;
}

@media (max-width: 768px) {
    .About .about-header .container-para {
        width: 90%;
    }
}

.About .innovation-container {
    display: flex;
    align-items: start;
    position: relative;
}

.About .sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.About .second-section img {
    max-width: 100%;
    height: 364px;
}



.About .second-section .second-content {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.About .second-section .second-content h1 {
    font-size: 2.6rem;
}

@media (max-width: 768px) {
    .About .second-section .second-content {
        max-width: 100%;
    }

    .About .second-section .font-base {
        font-size: 1rem;
    }

    .About .second-section .font-5xxl {
        font-size: 2rem !important;
    }
}

.About .second-section p {
    font-family: 'Manrope-Medium', sans-serif;
}

/* .About .second-section-btn {
    margin-left: 14rem;
} */

@media (max-width: 768px) {
    .About .second-section-btn {
        margin-left: 0;
        justify-content: center;
    }

    .About .second-section h1 {
        font-size: 3rem;
    }


}

.About .icon {
    width: 80px;
    height: 80px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    /* margin-right: 20px; */
}

.About .icon img {
    width: 50px;
    height: 50px;
    max-width: 100%;
}

.About .content {
    flex: 1;
    background: linear-gradient(to bottom, #29303e, #9f614c);
    padding: 30px;
    min-height: 498px;
    max-height: 850px;
    border-radius: 24px;
}

.About .content .fill-button {
    height: 47px;
}

.About .content p {

    line-height: 150%;
}

.About h2 {
    font-size: 32px;
    margin: 0;
}

.About .italic {
    font-style: italic;
}

.About .bold {
    font-weight: bold;
}


.About .third-section .innovation-container .sidebar .active {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 101px;
}

.About .third-section .innovation-container {

    display: flex;
    justify-content: center;
}

.About .third-section .innovation-container .content {

    max-width: 70%;
}

@media (max-width: 768px) {
    .About .third-section .innovation-container .content {

        max-width: 100%;
    }
}


.About .last-section .last-card {
    background-color: #262D3C;
    border-radius: 20px;
    padding: 15px;
}

.About .last-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.About .last-section .last-content {
    max-width: 95%;
}

@media (max-width: 768px) {
    .About .last-section .last-content {
        max-width: 100%;
    }

}

.About .last-section .last-card img {
    height: 200px;
    width: 190px;
    max-width: 100%;
}

.About .last-section .left-hand .last-card img {
    height: 220px;
    width: 220px;
    max-width: 100%;
}

.About .last-section .right-hand .last-card img {
    height: 220px;
    width: 200px;
    max-width: 100%;
}


.About .last-section .last-h1 {
    font-size: 3.25rem;

}

.About .last-section .main h1 {
    font-size: 1.8rem;

}

.About .last-section .main p {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 1.2rem;
    line-height: 150%;
}


@media (max-width: 768px) {
    .About .last-section h1 {
        font-size: 26px;
    }

    .About .last-section p {
        font-size: 15px;
    }

}

@media (max-width: 768px) {


    .About .icon img {
        width: 30px;
        height: 30px;
        max-width: 100%;
    }

    .About .sidebar {

        gap: 10px;
    }

    .About .third-section .content {
        padding: 10px;

    }

    .About .third-section .content h1 {
        font-size: 45px;
    }

    .About .sidebar .icon {
        width: 50px;
        height: 50px;
        gap: 10px;
    }

    .About .third-section .innovation-container .sidebar .active {

        width: 60px;
    }

    .About .content {
        width: 100%;

        height: auto;

        padding: 20px;
        border-radius: 10px;
    }

    .About .content .fill-button {
        width: 100%;

        padding: 15px;
    }
}


@media (max-width: 480px) {
    .About .content p {
        font-size: 12px;

    }
}