.network-icon {
    height: 20px;
    margin-top: 3px;
}

@media (max-width: 768px) {
    .Home .second-section {
        margin-top: 26rem !important;

    }
}


.Home h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2.3rem, 6vw, 3.75rem);
    line-height: 120%;
}

.Home p {
    font-size: clamp(1rem, 2vw, 1rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

.rem6-marginTop {
    margin-top: 6rem;
}


.Home .home-header p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .home-header h1 {
    font-size: clamp(2.59rem, 6vw, 3.75rem);
    line-height: 120%;
}

.Home .home-header .vedio2 {
    border-radius: 50px !important;
    object-fit: cover;
    width: 100%;
}

.Home .home-header .button {
    width: 174px;
}

.Home .vedio1-container {
    width: 800px;
    height: 492px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-top: 6px solid #6d6666;
    border-left: 6px solid #6d6666;
    border-right: 6px solid #6d6666;

}

.Home .home-header .outline-button {
    width: 174.68px !important;
}

.Home .second-section .intro {
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .fund-section .fund-years {
    background-color: #FFFFFF;
    color: #0E192B;
    width: 90px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 160%;
    padding: 20px 10px 20px 10px;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .fund-section h1 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: clamp(2rem, 5vw, 2.6rem);

    line-height: 140%;
}

.Home .fund-section .fund-txt {

    font-size: 1.2rem;
}

.Home .fund-section .active .fund-years {
    background-color: #A1624D;
    color: #FFFFFF;

}


.Home .fund-section .active .fund-txt {
    color: #A1624D;
}

.Home .feature-section .feature-image {
    width: 100%;
    height: 378px;
    border-radius: 30px;
}

.Home .feature-section .fill-button {
    height: 63px;

}

.Home .feature-section .left-hand h2 {
    font-size: 3rem;
}


.Home .feature-section .left-hand .active h2 {
    color: #A1624D !important;
}

@media (max-width: 768px) {

    .Home .feature-section .left-hand img {
        max-width: 31%;
    }

}

.Home .feature-section .left-hand .investment-txt {
    font-size: clamp(1.3rem, 4.5vw, 1.7rem);

    line-height: 140%;
    font-family: 'Manrope-SemiBold', sans-serif;
}


.Home .feature-section .left-hand .investment-img {
    height: 125px;
    width: 120px;
    max-width: 100%;
}

@media (max-width: 1024px) {


    .Home .feature-section .left-hand .investment-txt {
        font-size: 1.3rem;

    }

}

.Home .feature-section .feature-image-txt {
    font-size: clamp(0.8rem, 2.5vw, 1rem);

    font-family: 'Manrope-Bold', sans-serif;
}

.Home .potiential-setion .slider-card {
    /* width: 600px; */
    background-color: #262D3C;
    /* transition: transform 0.3s ease; */
    border-radius: 38px;

}

.Home .potiential-setion .slider-card img {
    max-width: 100%;

}

.Home .potiential-setion .potiential-intro {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-family: 'Manrope-Regular', sans-serif;
}



.Home .fund-section img {
    max-width: 100%;
    height: 462px;
}




.Home .slider-card {

    padding: 10px;
    box-sizing: border-box;
}



.Home .customer-experience .counter h1 {
    font-size: 4.3rem;
    font-family: 'Manrope-Bold', sans-serif;
}



.Home .customer-experience .customer-experience-intro {
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .customer-experience .counter p {
    font-size: 1rem;
    font-family: 'Manrope-SemiBold', sans-serif;
    text-align: center;
}

.Home .customer-experience .counter {
    gap: 8rem;
}

.Home .customer-experience .vedio2 {
    border-radius: 50px !important;
    object-fit: cover;
    width: 100%;
}

.Home .vedio2-container {
    width: 980px;
    height: 395.89px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    position: relative;



}

.join-now-btn {
    position: absolute;
    bottom: 19px;
    left: 55px;
    height: 54px;
    z-index: 10;
    width: 171px;
}

.Home .vedio1 {

    width: 100% !important;
}

.Home .insight-section {
    width: auto;
}

.Home .insight-section h1 {
    font-size: 75px;
    text-align: center;
}

.Home .insight-section .insight-tab {
    font-size: 1.1rem;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 500;
    height: 50px;
}

.Home .insight-section .insight-content .insight-card {
    width: 361px;
    padding: 10px;

}

.Home .insight-section .insight-content .insight-card {
    width: 361px;
    padding: 10px;

}

.Home .insight-section .insight-content .btn-container .fill-button {
    height: 60px;

}

.Home .insight-section .insight-content .insight-card img {
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
}


.Home .insight-section .insight-content {
    padding: 30px 20px;
    background-color: #262D3C;
    border-radius: 20px;
    max-width: fit-content;
    margin: 0 auto;
}

.insight-card {
    flex: 0 1 auto;
    /* Prevents full-width stretching */
    max-width: 361px;
    /* Set a max-width for individual cards */
}


/* @media (max-width:2560px) and (min-width: 1500px) {

    .Home .insight-section .insight-content {
        width:79%;
    }
}

@media (max-width:1499px) and (min-width: 1325px) {

    .Home .insight-section .insight-content {
        width: 81%;
    }
}

@media (max-width:1324px) and (min-width: 1225px) {

    .Home .insight-section .insight-content {
        width: 90%;
    }
}

@media (max-width:1224px) and (min-width: 1000px) {

    .Home .insight-section .insight-content {
        width: 95%;
    }
}

@media (max-width:1024px) and (min-width: 768px) {

    .Home .insight-section .insight-content {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .Home .insight-section .insight-content {
        width: 100%;
    }
} */

.Home .insight-section .insight-content .fill-button {
    padding: 10px 25px;
    width: 169.67px;
    height: 49px;
}

.Home .insight-section .btn-container {
    margin-top: 5rem;
}



.Home .testinomial .intro p {
    font-size: clamp(1.2rem, 3vw, 1.8rem);

    font-family: 'Manrope-Regular', sans-serif;
    line-height: 140%;
}

.Home .testinomial .testinomial-card .second {
    width: 380px;
    max-width: 100%;
}

.Home .Testimonials-quote-img {
    width: 70.02px;
    height: 56px;
}



.Home .testinomial .testinomial-card p {
    color: #525252;
    font-size: 0.875rem;
    font-family: 'Manrope-Regular', sans-serif;
}

.Home .testinomial .testinomial-card h5 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 1.375rem;
    line-height: 140%;
}

.Home .last-section {
    padding: 40px 20px;
}

.Home .last-section .box {
    padding: 15px;
    background: linear-gradient(180deg, #000000 0%, #2C3F60 100%);
    border-radius: 30px;
    min-height: 500px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.Home .last-section .box h2 {
    font-size: clamp(1.8rem, 5vw, 2.3rem);
    font-family: 'Playfair Display', serif;
    line-height: 1.3;
}

.Home .last-section .box p {
    font-size: clamp(1rem, 2vw, 1rem);
    font-family: 'Manrope-Bold', sans-serif;
}

.Home .last-section .box img {
    width: 100%;
    max-width: 500px;
    height: auto;
}



/* Default desktop styles */
.decorative-img-3 {
    position: absolute;
    top: 3400px;
    left: -350px;
    z-index: 1;
    height: 703px;
}

.decorative-img-4 {
    position: absolute;
    top: 3600px;
    right: -280px;
    z-index: 1;
    height: 603px;
}

@media (max-width: 768px) {

    .decorative-img-3,
    .decorative-img-4 {
        z-index: -1;
    }
}

.Home {
    background-image: url('../assets/images/Index.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

/* Apply styles ONLY for exactly 1440px width */
@media (max-width: 1440px) {
    .Home {
        background-size: cover;
        background-position: top center;
        /* Adjust as needed */
    }
}

@media (min-width: 2010px) {
    .Home {
        background-size: cover;
        background-position: top center;
    }
}


.insight-card {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.insight-card:nth-child(odd) {
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fill-button.active {
    background-color: #A1624D;
    color: #FFFFFF;
}














.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: height 0.8s ease-in-out; */
}

/* Fullscreen Mode */
.video-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

/* Video in Fullscreen */
.video-container.fullscreen video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Normal Mode (Shrinking Effect) */
.video-container.normal {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.video-container video {
    width: 900px;
    height: 541px;
}




.swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}


.swiper {
    width: 100%;
}

.swiper-slide {
    background-color: #262D3C;
    border-radius: 38px;
    height: 439px;
    width: 350.2px !important;

    /* transition: all 1s ease-in-out; */
    transform-origin: center;
    transform: perspective(800px);
    opacity: 1;
}

.swiper-slide h2 {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    display: none !important;
}

.swiper-slide h2 {
    /* transition: all 1s ease-in-out; */
    display: none !important;
}

.swiper-slide p {
    font-size: 0.6rem !important;
    font-family: 'Manrope-Bold', sans-serif;
}

.swiper-slide img {
    width: 191px;
    max-width: 100%;
    height: 211px;
    border-radius: 10px;
}


.swiper-slide.hovered {
    /* transform: scale(1.2); */
    width: 620.6px !important;
    border-radius: 38px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 420px;

}

.swiper-slide.hovered h2 {
    transform: translateY(0);
    opacity: 1;
    display: block !important;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

.swiper-slide.shrunk {
    /* transform: scale(0.95); */
    z-index: 1;
    transition: all 1s ease-in-out;
    width: 280.2px !important;
    height: 380px !important;
    padding: 10px;
}

.swiper-slide.shrunk h2 {
    display: none;
}




.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #F0CAC0;
    transition: background-color 0.3s, transform 0.3s;
}


.swiper-pagination-bullet-active {
    background-color: #A1624D;
    transform: scale(1.2);
}


.swiper-pagination {
    position: static !important;
    bottom: -60px !important;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.second-section {
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


/* 
.fund-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

body {
    overflow: auto !important;
}