.network-icon {
    height: 29px;
    margin-top: 2px;
}

.Home h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2.5rem, 6vw, 4.375rem);
    line-height: 120%;
}

.Home p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

.rem7-marginTop {
    margin-top: 7rem;
}

.Home .home-header {
    margin-top: 150px;
}

.Home .home-header p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .home-header h1 {
    font-size: clamp(2.5rem, 6vw, 4.375rem);
    line-height: 120%;
}

.Home .home-header .vedio2 {
    border-radius: 50px !important;
    object-fit: cover;
    width: 100%;
}

.Home .vedio1-container {
    width: 809px;
    height: 513px;
    border-radius: 50px;
    display: flex;
    justify-content: center;

    overflow: hidden;
    border-top: 5px solid #BFB4B4;
    border-left: 5px solid #BFB4B4;
    border-right: 5px solid #BFB4B4;
    box-shadow: -3px -3px 5px #BFB4B4,
        3px -3px 5px #BFB4B4,
        inset -3px -3px 5px rgba(0, 0, 0, 0.2),
        inset 3px -3px 5px rgba(0, 0, 0, 0.2);
}

.Home .home-header .outline-button {
    width: 174.68px !important;
}

.Home .second-section .intro {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 160%;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .fund-section .fund-years {
    background-color: #FFFFFF;
    color: #0E192B;
    width: 90px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.375rem;
    line-height: 160%;
    padding: 20px 10px 20px 10px;
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .fund-section h1 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: clamp(2rem, 5vw, 3.25rem);

    line-height: 140%;
}

.Home .fund-section .fund-txt {

    font-size: 1.375rem;
}

.Home .fund-section .active .fund-years {
    background-color: #A1624D;
    color: #FFFFFF;

}

.Home .fund-section .fund-txt {
    font-size: 20px;
}

.Home .fund-section .active .fund-txt {
    color: #A1624D;
}

.Home .feature-section .feature-image {
    width: 100%;
    height: 490px;
    border-radius: 30px;
}

.Home .feature-section .fill-button {
    height: 63px;

}


.Home .feature-section .left-hand .active h2 {
    color: #A1624D;
}

@media (max-width: 768px) {

    .Home .feature-section .left-hand img {
        max-width: 31%;
    }

    /* .Home .feature-section .left-hand .investment-txt {
        font-family: 'Manrope-SemiBold', serif;
        font-size: 2.813rem;
    } */

}

.Home .feature-section .left-hand .investment-txt {
    font-size: clamp(1.8rem, 4.5vw, 2.813rem);

    line-height: 140%;
    font-family: 'Manrope-SemiBold', sans-serif;
}

.Home .feature-section .feature-image-txt {
    font-size: clamp(1rem, 2.5vw, 1.5rem);

    font-family: 'Manrope-Bold', sans-serif;
}

.Home .potiential-setion .slider-card {
    /* width: 600px; */
    background-color: #262D3C;
    /* transition: transform 0.3s ease; */
    border-radius: 38px;

}

.Home .potiential-setion .slider-card img {
    max-width: 100%;

}

.Home .potiential-setion .potiential-intro {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: 'Manrope-Regular', sans-serif;
}



.Home .fund-section img {
    max-width: 100%;

}


.Home .potiential-setion .slider-card .slider-image {
    /* height: 250px; */

}


.Home .slider-card {
    /* transition: transform 0.3s ease, font-size 0.3s ease;
    transform: scale(0.9); */
    padding: 10px;
    box-sizing: border-box;
}



.Home .customer-experience .counter h1 {
    font-size: 4.688rem;
    font-family: 'Manrope-Bold', sans-serif;
}



.Home .customer-experience .customer-experience-intro {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: 'Manrope-Medium', sans-serif;
}

.Home .customer-experience .counter p {
    font-size: 1.375rem;
    font-family: 'Manrope-SemiBold', sans-serif;
    text-align: center;
}

.Home .customer-experience .vedio2 {
    border-radius: 50px !important;
    object-fit: cover;
    width: 100%;
}

.Home .vedio2-container {
    width: 1126px;
    height: 492.89px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    position: relative;



}

.join-now-btn {
    position: absolute;
    bottom: 19px;
    left: 55px;
    height: 54px;
    z-index: 10;
    width: 171px;
}

.Home .vedio1 {

    width: 100%;
}

.Home .insight-section {
    width: auto;
}

.Home .insight-section h1 {
    font-size: 75px;
    text-align: center;
}

.Home .insight-section .insight-tab {
    font-size: 1.375rem;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 500;
    height: 63px;
}

.Home .insight-section .insight-content .insight-card {
    width: 361px;
    padding: 10px;

}

.Home .insight-section .insight-content .insight-card h5 {
    font-size: clamp(1.2rem, 3vw, 1.563rem);
    line-height: 140%;

}

.Home .insight-section .insight-content .insight-card img {
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
}


.Home .insight-section .insight-content {
    padding: 30px 0px 30px 0px;
    background-color: #262D3C;
    border-radius: 20px;
    width: 73%;

}

@media (max-width:2560px) and (min-width: 1500px) {

    .Home .insight-section .insight-content {
        width: 52%;
    }
}

@media (max-width:1499px) and (min-width: 1000px) {

    .Home .insight-section .insight-content {
        width: 84%;
    }
}

@media (max-width:1024px) and (min-width: 768px) {

    .Home .insight-section .insight-content {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .Home .insight-section .insight-content {
        width: 86%;
    }
}

.Home .insight-section .insight-content .fill-button {
    padding: 15px 25px;
    width: 169.67px;
    height: 54px;
}

.Home .insight-section .btn-container {
    margin-top: 5rem;
}

.Home .testinomial .h1 {
    font-size: 75px;
}

.Home .testinomial .intro p {
    font-size: clamp(1.2rem, 3vw, 2rem);

    font-family: 'Manrope-Regular', sans-serif;
    line-height: 140%;
}

.Home .Testimonials-quote-img {
    width: 70.02px;
    height: 56px;
}

@media (max-width: 768px) {

    .Home .testinomial .intro {
        margin-left: 16px;
    }
}

.Home .testinomial .testinomial-card p {
    color: #525252;
    font-size: 0.875rem;
    font-family: 'Manrope-Regular', sans-serif;
}

.Home .testinomial .testinomial-card h5 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 1.375rem;
    line-height: 140%;
}

.Home .last-section .btn-container {
    width: 100%;
}

.Home .last-section .box img {
    width: 70%;
    background: linear-gradient(180deg, #000000 0%, #000000 0%, #2C3F60 100%);
}

.Home .last-section .box {
    padding: 15px;
    background: linear-gradient(180deg, #000000 0%, #000000 0%, #2C3F60 100%);
    max-width: 1196px;
    border-radius: 30px;
    min-height: 500px;
}

.Home .last-section .box h2 {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-family: 'Playfair Display', serif;
    line-height: 120%;
}

.Home .last-section .box p {
    font-size: clamp(0.875rem, 2vw, 1rem);

    font-family: 'Manrope-Bold', sans-serif;

}


/* Default desktop styles */
.decorative-img-3 {
    position: absolute;
    top: 3400px;
    left: -350px;
    z-index: 1;
    height: 703px;
}

.decorative-img-4 {
    position: absolute;
    top: 3600px;
    right: -280px;
    z-index: 1;
    height: 603px;
}

@media (max-width: 768px) {

    .decorative-img-3,
    .decorative-img-4 {
        z-index: -1;
    }
}

.Home {
    background-image: url('../assets/images/Index.png');
    background-size: contain;
    /* background-position: center center; */
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.insight-card {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.insight-card:nth-child(odd) {
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fill-button.active {
    background-color: #A1624D;
    color: #FFFFFF;
}














.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.8s ease-in-out;
}

/* Fullscreen Mode */
.video-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

/* Video in Fullscreen */
.video-container.fullscreen video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Normal Mode (Shrinking Effect) */
.video-container.normal {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.video-container video {
    width: 900px;
    height: 600px;
}

/* .slick-dots li {
    background-color: white;
}

.slick-dots .slick-active {
    background-color: red;
} */



.Home .slider-container .slick-slider .slick-dots {
    bottom: -42px;
}

.Home .slick-dots li button {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white !important;
}

.Home .slick-dots li button:before {
    color: white !important;
}

.Home .slick-dots li.slider-dot-middle button:before {
    color: #A1624D !important;
}

.Home .slick-dots li.slider-dot-middle button {
    color: #A1624D !important;

    background-color: #A1624D !important;

}

/* .Home .slick-slide.slider-middle .slider-card h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2.5rem, 5vw, 3.75rem);

}

.Home .slick-slide.slider-middle .slider-card p {
    font-family: 'Manrope-Bold', sans-serif;
    font-size: clamp(0.75rem, 2vw, 0.875rem);

} */

/* .slick-slide.slider-middle .slider-card h2 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 3.75rem;
  } */









.swiper-wrapper {
    display: flex;
    align-items: center;
}


.swiper {
    width: 100%;
}

.swiper-slide {
    background-color: #262D3C;
    border-radius: 38px;
    height: 439px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.swiper-slide h2 {
    display: none !important;
}

.swiper-slide p {
    font-size: 0.875rem !important;

    font-family: 'Manrope-Bold', sans-serif;
}

.swiper-slide img {
    width: 191px;
    max-width: 100%;
    height: 211px;
    border-radius: 10px;
}


.swiper-slide.hovered {
    /* transform: scale(1.2); */
    width: 677.6px !important;
    border-radius: 38px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 539px;
}

.swiper-slide.hovered h2 {
    display: block !important;
    font-size: 3.75rem;
    font-family: 'Playfair Display', serif;
}

.swiper-slide.shrunk {
    /* transform: scale(0.95); */
    z-index: 1;
    width: 280.2px !important;
}

.swiper-slide.shrunk h2 {
    display: none;
}




.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #F0CAC0;
    transition: background-color 0.3s, transform 0.3s;
}


.swiper-pagination-bullet-active {
    background-color: #A1624D;  
    transform: scale(1.2);  
}


.swiper-pagination {
    position: static !important;  
    bottom: -60px !important;  
    display: flex;  
    justify-content: center;  
    margin-top: 40px; 
}
