.network-icon {
    height: 20px;
    margin-top: 2px;
}

.Home h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.375rem;
}

.Home p {
    font-family: 'Manrope', serif;
}

.Home h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', serif;
}

.Home .home-header {
    margin-top: 200px;
}

.Home .fund-section .fund-years {
    background-color: #FFFFFF;
    color: #0E192B;
    width: 90px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.375rem;
    padding: 20px 10px 20px 10px;
    font-family: 'Manrope', serif;
}

.Home .fund-section h1 {
    font-family: 'Manrope-SemiBold', serif;
    font-size: 3.25rem;
}

.Home .fund-section .fund-txt {

    font-size: 1.375rem;
}

.Home .fund-section .active .fund-years {
    background-color: #A1624D;
    color: #FFFFFF;

}

.Home .fund-section .fund-txt {
    font-size: 20px;
}

.Home .fund-section .active .fund-txt {
    color: #A1624D;
}

.Home .feature-section .feature-image {
    width: 100%;
    height: 490px;

}

.Home .feature-section .left-hand .active h2 {
    color: #A1624D;
}

@media (max-width: 768px) {

    .Home .feature-section .left-hand img {
        max-width: 31%;
    }

    .Home .feature-section .left-hand .investment-txt {
        font-family: 'Manrope-SemiBold', serif;
        font-size: 2.813rem;
    }

}

.Home .feature-section .left-hand .investment-txt {
    font-family: 'Manrope-SemiBold', serif;
    font-size: 1.813rem;
}

.Home .feature-section .feature-image-txt {
    font-size: 1.5rem;
}

.Home .potiential-setion .slider-card {
    width: 600px;
    background-color: #262D3C;
    transition: transform 0.3s ease;

}

.Home .potiential-setion .slider-card img {
    max-width: 100%;

}

.Home .potiential-setion .potiential-intro {
    font-size: 1.5rem;
    font-family: 'Manrope-Regular', serif;
}

@media (max-width: 768px) {
    .Home .potiential-setion .slider-card h2 {
        font-size: 20px;
    }

    .Home .potiential-setion .slider-card p {
        font-size: 12px;
    }

}

.Home .fund-section img {
    max-width: 100%;

}

/* .slider-card:hover {
    transform: scale(1.7);   } */

.Home .potiential-setion .slider-card .slider-image {
    height: 250px;

}


.Home .slider-card {
    transition: transform 0.3s ease, font-size 0.3s ease;
    transform: scale(0.9);
    padding: 10px;
    box-sizing: border-box;
}



.Home .customer-experience .counter h1 {
    font-size: 4.688rem;
    font-family: 'Manrope-Bold', serif;
}

.Home .customer-experience .customer-experience-intro {
    font-size: 1.5rem;

}

.Home .customer-experience .counter p {
    font-size: 1.375rem;
    font-family: 'Manrope-SemiBold', serif;
    text-align: center;
}

.Home .customer-experience .vedio2 {
    width: 100%;
    height: 553.89px;
}

.Home .vedio1 {

    width: 100%;
}

.Home .insight-section {
    width: auto;
}

.Home .insight-section h1 {
    font-size: 75px;
    text-align: center;
}

.Home .insight-section .insight-tab {
    font-size: 1.375rem;
    font-family: 'Manrope-SemiBold', serif;
    font-weight: 500;
}

.Home .insight-section .insight-content .insight-card {
    width: 300px;
    padding: 10px;

}

.Home .insight-section .insight-content .insight-card img {
    width: 300px;
    margin-bottom: 10px;
    max-width: 100%;
}


.Home .insight-section .insight-content {
    padding: 30px 0px 30px 0px;
    background-color: #262D3C;
    border-radius: 20px;
    width: 73%;

}

@media (max-width:2560px) and (min-width: 1440px) {

    .Home .insight-section .insight-content {
        width: 41%;
    }
}

@media (max-width:1441px) and (min-width: 1023px) {

    .Home .insight-section .insight-content {
        width: 80%;
    }
}

@media (max-width:1024px) and (min-width: 768px) {

    .Home .insight-section .insight-content {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .Home .insight-section .insight-content {
        width: 86%;
    }
}

.Home .testinomial .h1 {
    font-size: 75px;
}

.Home .testinomial .intro h3 {
    font-size: 2rem;
}

@media (max-width: 768px) {

    .Home .testinomial .intro {
        margin-left: 16px;
    }
}

.Home .testinomial .testinomial-card p {
    color: #525252;
}

.Home .last-section h1 {
    font-size: 70px;
}

.Home .last-section .box img {
    width: 70%;
    background: linear-gradient(180deg, #000000 0%, #000000 0%, #2C3F60 100%);
}

.Home .last-section .box {
    padding: 15px;
    background: linear-gradient(180deg, #000000 0%, #000000 0%, #2C3F60 100%);
}



/* Default desktop styles */
.decorative-img-3 {
    position: absolute;
    top: 3400px;
    left: -350px;
    z-index: 1;
    height: 703px;
}

.decorative-img-4 {
    position: absolute;
    top: 3600px;
    right: -280px;
    z-index: 1;
    height: 603px;
}

@media (max-width: 768px) {

    .decorative-img-3,
    .decorative-img-4 {
        z-index: -1;
    }
}

.Home {

    background-image: url('../assets/images/Index.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.insight-card {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.insight-card:nth-child(odd) {
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fill-button.active {
    background-color: #A1624D;
    color: #FFFFFF;
}
















.video-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    transition: height 0.8s ease-in-out;
}

/* Fullscreen state */
.video-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    transform: scale(1);
}

/* Video inside fullscreen */
.video-container.fullscreen video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

/* Normal state */
.video-container.normal {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    /* Adjust as needed */
    /* transform: scale(0.7); */
    /* Shrinks smoothly */
}
/* Shrink video size gradually */
.video-container.normal video {
    
    width: 900px;
    height: 600px;

    
    transition: height 0.8s ease-in-out;
}


.video-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.8s ease-in-out;
}

/* Video in fullscreen */
.video-container video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}



.slick-dots li {
    background-color: white;
}

.slick-dots .slick-active {
    background-color: red;
}

.slick-slide .slider-middle {
    width: 60% !important; 
    height: auto; 
    min-height: 200px;  
    z-index: 1; 
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
}
