.perfomance-main {
    background-image: url('../assets/images/performance.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.perfomance-main h1 {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
}

.perfomance-main p {
    font-family: 'Manrope', serif;
}
.perfomance-main h2,h3,h4,h5,h6 {
    font-family: 'Manrope', serif;
}
.perfomance-main .perfomance-header h1 {
    font-size: 75px;

}

.perfomance-main .perfomance-header p {
    font-size: 24px;

}

.perfomance-main .perfomance-header .perfomace-card p {
    font-size: 24px;

}

.perfomance-main .perfomance-header .perfomace-card {
    border-radius: 15px;
    /* width: 100%;
    min-width: 250px; */
}

.perfomance-main .perfomance-header .perfomace-card .fill-button {
    border-radius: 10px;
    width: 100%;
}

.perfomance-main .perfomance-header .perfomace-card img {
    height: 350px;
    width: 350px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.perfomance-main .perfomance-second .perfomance-container {
    background-color: #262D3C;
    border-radius: 20px;
    padding: 20px;
}

.perfomance-main .perfomance-second .perfomance-card2 img {
    height: 300px;
    width: 350px;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.perfomance-main .perfomance-second h1 {
    font-size: 75px;
}

.perfomance-main .perfomance-second .perfomance-card2 h2 {
    font-size: 30px;
}

.perfomance-main .perfomance-second .perfomance-card2 p {
    font-size: 20px;
}

.perfomance-main .perfomance-third .perfomance-container3 .sidebar-card {
    background-color: #262D3C;
    border-radius: 20px;
    padding: 15px;
}
.perfomance-main .perfomance-third  .main {
font-size: 60px;
}
.perfomance-main .perfomance-third .perfomance-container3 .sidebar-card h2 {
    font-size: 26px;
}

.perfomance-third .perfomance-container3 .sidebar-card .active {

    color: #A1624D;
    font-style: italic;
}


.perfomance-main .perfomance-third .perfomance-container3 .right-hand h2 {
    font-size: 24px;

}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand h1 {
    letter-spacing: -4.5px;
    font-weight: 700;
    font-size: 150px;
    font-family: 'Manrope', serif;
}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand img {
    height: 166px;
    width: 138px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand {
    background-color: #262D3C;
    border-radius: 20px;
    padding: 15px;
}

.perfomance-main .perfomance-third .perfomance-container3 .last-divider {
    width: 2px;
    height: 350px;
    background: linear-gradient(#A96349, #FFFFFF);
    position: absolute;

}

.perfomance-main .perfomance-third .perfomance-container3 .last-divider {
    width: 2px;
    height: 350px;
    background: linear-gradient(#A96349, #FFFFFF);
    position: absolute;

}

@media (max-width: 768px) {
    .perfomance-main .perfomance-third .perfomance-container3 .last-divider {

        position: relative;

    }
}