.perfomance-main .perfomance-header {

    margin-top: 8rem;

}

.perfomance-main {
    background-image: url('../assets/images/performance.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.perfomance-main h1 {
    font-family: 'Playfair Display', serif;
    line-height: 120%;

}

.perfomance-main p {
    font-family: 'Manrope', serif;
    line-height: 160%;
}




.perfomance-main .perfomance-header p {
    font-family: 'Manrope-Medium', sans-serif;

}


.perfomance-main .perfomance-header .perfomace-card {
    border-radius: 15px;
    /* width: 100%;
    min-width: 250px; */
}

.perfomance-main .perfomance-header .perfomace-card .fill-button {
    border-radius: 14px;
    width: 100%;
    /* padding: 30px 40px; */
    height: 60px;
    font-size: 1.3rem;
    line-height: 100%;
}

.perfomance-main .perfomance-header .perfomace-card img {
    height: 350px;
    width: 100%;
    display: block;
    border-radius: 24px;
}

.perfomance-main .perfomance-header .perfomace-card p {
    margin-top: 1rem;
    font-family: 'Manrope-ExtraBold', serif;
    line-height: 140%;
}

.perfomance-main .perfomance-header .d-flex.flex-wrap {
    gap: 20px;
    justify-content: space-between;
}


.perfomance-main .perfomance-header .perfomace-card {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
}

.perfomance-main .perfomance-second {
    margin-top: 10rem;
}

.perfomance-main .perfomance-second .perfomance-container {
    background-color: #262D3C;
    border-radius: 20px;
    padding: 30px 10px 30px 10px;
}

/* .perfomance-main .perfomance-second h1 {
    font-size: 5rem;
} */

@media (max-width: 768px) {
    .perfomance-main .perfomance-second h1 {
        font-size: 4.5rem;
    }
}

.perfomance-main .perfomance-second .perfomance-card2 img {
    height: 300px;
    width: 100%;
    max-width: 100%;
    display: block;

    border-radius: 38px;
}



.perfomance-main .perfomance-second .perfomance-card2 h2 {
    font-family: 'Manrope-ExtraBold', serif;
    line-height: 140%;

}

.perfomance-main .perfomance-second .perfomance-card2 p {
    font-family: 'Manrope-SemiBold', serif;

    line-height: 140%;
}

.perfomance-main .perfomance-third {
    margin-top: 10rem;
}

.perfomance-main .perfomance-third .perfomance-container3 {
    margin-top: 7rem;
}

.perfomance-main .perfomance-third .perfomance-container3 .sidebar-card {
    background-color: #262D3C;
    border-radius: 38px;
    padding: 25px;
}



.perfomance-main .perfomance-third .main2 {
    font-size: 3rem;
    line-height: 160%;
}

@media (max-width: 768px) {
    .perfomance-main .perfomance-third .main2 {
        font-size: 3.4rem;
    }
}

.perfomance-main .perfomance-third .main3 {
    font-size: 1.6rem;
    font-family: 'Manrope-Medium', sans-serif;
    line-height: 160%;
}

.perfomance-main .perfomance-third .perfomance-container3 .sidebar-card h2 {
    font-family: 'Manrope-Bold', sans-serif;
    font-size: 1.3rem;
}

.perfomance-third .perfomance-container3 .sidebar-card .active {
    font-family: 'PlayfairDisplay-BoldItalic', serif !important;
    color: #A1624D;
    font-style: italic;
}


.perfomance-main .perfomance-third .perfomance-container3 .right-hand h2 {
    font-size: 24px;

}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand h1 {
    letter-spacing: -4.5px;
    font-weight: 700;
    font-size: 7rem;
    font-family: 'Manrope-Bold', sans-serif;
    line-height: 100%;
}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand img {
    height: 166px;
    width: 138px;
    max-width: 100%;
    display: block;
    /* margin: auto; */
}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand {
    background-color: #262D3C;
    border-radius: 41px;
    padding: 15px;
}

.perfomance-main .perfomance-third .perfomance-container3 .right-hand p {

    font-family: 'Manrope-Regular', serif;
    line-height: 100%;

}

.perfomance-main .perfomance-third .perfomance-container3 .last-divider {
    width: 2px;
    height: 350px;
    background: linear-gradient(#A96349, #FFFFFF);
    position: absolute;
    margin-right: 30px;

}



@media (max-width: 768px) {
    .perfomance-main .perfomance-third .perfomance-container3 .last-divider {

        position: relative;

    }
}